#form-ayuda {

	-webkit-align-content: center;
	padding-left: 100px;
	padding-top: 50px;
	padding-right: 200px;
}

#alert-container {

	padding-left: 200px;
	padding-top: 100px;
	padding-right: 300px;
}

#suc-buton{
	padding-left: 200px;

}

#morel {

	padding-left: 500px;
}
