
.actionadd-container {
    padding: 15px;
}

.actionadd-select {
    width: 15% !important;
}

.actionadd-accion {
    width: 40%;
}

.actionadd-button {
    width: auto;
}

.action-text {
    vertical-align: middle !important;
}

.action-delete {
    width: 40px;
}

.color-displayer {
    width: 20%;
}

@media (min-width: 1000px) {
    .modal-dialog {
        max-width: 700px;
    }
}