.navbar-dark .navbar-nav .nav-link.active {
    color: #0094FF;
}

.logo {
    width: 50px;
}

.brand {
    position: relative;
    padding-left: 10px;
    top: 5px;
}

.brand-colored {
    color: #0094FF;
}